body {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.4rem;
  line-height: 1.6rem;
  justify-content: center;
  align-items: center;
}
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  
}
.jumbotron {
  text-align: center;
  font-size: 2.6rem;
  background-color: navy;
  color: white;
  border-radius: 0;
  border-bottom: 5px solid black;
}
.hour {
  background-color: #ffffff;
  border-top: 1px dashed;
}
i {
  color: rgb(7, 241, 66);
}
.saveBtn {
  border: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: orange;
}
.present {
  background-color: lightcoral;
}
.past {
  background-color: darkgray;
}
.future {
  background-color: lightgreen;
}